.contact-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/white-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-box {
  width: 50%;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.contact-box h1 {
  font-size: var(--h1-font-size);
  font-family: var(--main-font);
  font-weight: var(--weight-400);
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 30px;
}

.contact-info p {
  font-size: 1.2rem;
  font-family: var(--body-font);
  margin: 15px 0;
}

@media (max-width: 768px) {
  .contact-box {
    width: 100%; /* Make contact box full width on mobile */

  }

  .contact-box h1 {
    font-size: var(--h2-font-size); /* Adjust heading size for mobile */
  }

  .contact-info p {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  .google-map iframe {
    height: 300px; /* Adjust map height for mobile */
    width: 300px;
  }
}